::selection {opacity:0;}

body {background-image: url("noise.gif");
pointer-events: none;
margin: 0;
height: 100%;
overflow: hidden;
}

.tagimg {width: 175px;}
.tag{
  position: fixed;
  top: 50px;
  left: 50vw;
  transform: translate(-50%,0%);
  pointer-events: none;

}

@media (max-width:800px) {
  .tagimg {width: 30vw;}

}
