::selection {opacity:0;}

body {
background-image: url("noise.gif");
background-size: 1920px;
pointer-events: none;
margin: 0;
height: 100%;
overflow: hidden;
}

.tagimg {height: 25vh; min-height: 270px;}
.tag{
  position: fixed;
  top: 50px;
  left: 50vw;
  transform: translate(-50%,0%);
  pointer-events: none;

}

@media (max-width:600px) {
  body {
  background-image: url("noise.gif");
  background-size: 350%;
  pointer-events: none;
  margin: 0;
  overflow: hidden;
  }

  .tagimg {height: auto; min-height: auto;
  width: 40vw;}

}
